%h1 IdeaBox
%form{:action => "/#{idea.id}", :method => "POST"}
  %p
    -if idea.id
      Edit your Idea:
    -else
      Your Idea:
  %p
    -if idea.id
      %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %input{:type => "text", :name => "idea[title]", :value => idea.title}
  %br
  %textarea{:name => "idea[description]"}= idea.description
  %br
  %input{:type => "submit"}
  %form{:action => '/', :method => 'GET', :style => "display: inline"}
    %input{:type => 'submit', :value => "Cancel"}
